PORT=4000
NODE_ENV=development
APP_NAME=SVP Backend API

CORS_ORIGINS=http://localhost:3000
VERCEL_PROJECT_SLUG=

JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
ACCESS_TOKEN_TTL_SECONDS=900
REFRESH_TOKEN_TTL_DAYS=14

COOKIE_SECURE=false
COOKIE_SAMESITE=lax

DATABASE_URL="postgresql://postgres:your-password@localhost:5432/railway"
DATABASE_PUBLIC_URL="postgresql://postgres:your-password@localhost:5432/railway"

SVP_BASE_URL="https://svp-international-api.pacc.sa"
SVP_LOCALE="en"
SVP_FE_APP="legislator"
REQUIRE_PORTAL_APPROVAL=false

SESSION_ENC_KEY_BASE64=

SUPABASE_URL="https://mziyrhutfmtdczggemhe.supabase.co"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_JElq-ttE3kxzKzeor24oPA_cpmmgd05"
SUPABASE_SECRET_KEY="sb_secret_REPLACE_ME"
SUPABASE_JWKS_URL="https://mziyrhutfmtdczggemhe.supabase.co/auth/v1/.well-known/jwks.json"
